
h1{
  color: rgb(8, 37, 134);
  font-weight: bolder;
text-align: center;
margin: 10px;
  padding: 10px;
  border-color: rgb(151, 137, 137);
  background-color: rgb(217, 233, 180);
  border-style: solid;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

h2{
  color: rgb(14, 13, 13);
  font-weight: bolder;
}